header {
    display: flex; 
    justify-content: space-between; 
    padding: 30px 50px; 
    margin-bottom: 30px; 
    box-shadow: rgb(16 112 177 / 20%) 5px 20px 50px;
}

.card-button {
    border-radius: 20px; 
    padding: 5px 25px; 
    box-shadow: rgb(16 112 177 / 20%) 5px 20px 50px; 
    background: white;
}

.goods-list {
    display: flex; 
    justify-content: space-around; 
    padding-top: 20px;
    flex-flow: row wrap;
}

.goods-item {
    width: 200px;
    max-width: 200px;
    padding: 44px 32px; 
    box-sizing: border-box; 
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%); 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column;
    margin: 50px;
}

.basket-list{
    display: flex; 
    justify-content: space-around; 
    padding-top: 20px;
    flex-flow: row wrap;
}