* {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 56px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    box-sizing: border-box;
    width: 540px;
}

.text_from {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.input {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    font-size: 16px;
    margin-bottom: 20px;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px 183px;
    border: none;
}

.error-text {
    color: red;
}